{% extends "_base.j2" %}
{% block content %}
  <div class="content">
    <h1>{{ note.title }}</h1>

    <div class="mb-5 content">
      {{ note.html }}
    </div>

    {% if note.tags %}
      <div class="bg-neutral-200 my-5 p-5">
        <h2>Tags</h2>

        <ul>
          {% for tag in note.tags %}
            <li><a href="{{ url_for(tag) }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if note.backlinks %}
      <div class="bg-neutral-200 my-6 p-5">
        <h2>Links to this page</h2>

        <ul>
          {% for backlink in note.backlinks %}
            <li><a href="{{ url_for(backlink) }}">{{ backlink.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
{% endblock %}
